body {
  background-image: url("../images/white_wall_hash.png");
  background-size: cover;
  background-repeat: repeat;
}

p {
  color: rgb(53, 52, 52);
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  line-height: 20px;
}

h1 {
  font-size: 28px;
  font-family: 'Lato', sans-serif;
}

h2 {
  font-size: 24px;
  font-family: 'Lato', sans-serif;
}

h3 {
  font-size: 20px;
  text-align: left;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
}

h4 {
  font-size: 16px;
  text-align: left;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
}

hr {
  border-top-color: rgb(255, 136, 0);
}

.nav {
  margin-top: 20px;
  padding-top: 10px;
  float: right;
  color: white;
  font-family: 'Lato', sans-serif;
}

.navbar.navbar-default.navbar-static-top {
  background-color: rgb(255, 136, 0);
}

.panel.panel-default {
  position: absolute;
  top: 0px;
  left: 14px;
  background: none;
  border: none;
}

.panel-row {
  margin-bottom: 10px;
}

.navbar-brand {
  font-size: 60px;
  font-style: bold;
  margin-top: 20px;
  color: rgb(53, 52, 52);
  font-family: 'Sacramento', cursive;
}

.profile-image {
  border-radius: 50%;
  border: 1px solid gray;
  max-width: 100px;
  height: auto;
  /* text-align: left; */
  margin-top: 10px;
}

.page-header {
  border-bottom-color: rgb(255, 136, 0);
  margin-top: 10px;
}

#connect-panel {
  text-align: center;
}

#connect-panel2 {
  margin-top: 15px;
}

.glyphicon.glyphicon-chevron-right {
  text-align: center;
  font-size: 18px;
  color: rgb(255, 136, 0);
}

.glyphicon.glyphicon-chevron-left {
  text-align: center;
  font-size: 18px;
  color: rgb(255, 136, 0);
}

#page-header-end {
  border-bottom-color: none;
  margin-top: 10px;
}

.caption {
  padding-top: none;
}

.thumbnail {
  max-width: 250px;
  height: auto;
}

footer {
  width: 100%;
  height: 17px;
  border-top-style: solid;
  border-top-width: thick;
  border-top-color: rgb(255, 136, 0);
  padding: 15px 10px 35px 20px;
  background: #666666;
  color: #ffffff;
  text-align: center;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
}



