body {
  background-image: url("../images/white_wall_hash.png");
  background-size: cover;
  background-repeat: repeat;
}

p {
  color: rgb(53, 52, 52);
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  line-height: 20px;
}

h1 {
  font-size: 28px;
  font-family: 'Lato', sans-serif;
}

h2 {
  font-size: 24px;
  font-family: 'Lato', sans-serif;
}

h3 {
  font-size: 20px;
  text-align: left;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
}

h4 {
  font-size: 16px;
  text-align: left;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
}

hr {
  border-top-color: rgb(255, 136, 0);
}

.nav {
  margin-top: 20px;
  padding-top: 10px;
  float: right;
  color: white;
  font-family: 'Lato', sans-serif;
}

.navbar.navbar-default.navbar-static-top {
  background-color: rgb(255, 136, 0);
}

.panel.panel-default {
  position: absolute;
  top: 0px;
  left: 14px;
  background: none;
  border: none;
}

.panel-row {
  margin-bottom: 10px;
}

.navbar-brand {
  font-size: 60px;
  font-style: bold;
  margin-top: 20px;
  color: rgb(53, 52, 52);
  font-family: 'Sacramento', cursive;
}

.profile-image {
  border-radius: 50%;
  border: 1px solid gray;
  max-width: 100px;
  height: auto;
  /* text-align: left; */
  margin-top: 20px;
}

.page-header1 {
  margin-top: 20px;
}

.page-header2 {
  border-bottom-color: rgb(255, 136, 0);
  margin-top: 10px;
}

#connect-panel {
  text-align: center;
}

.glyphicon.glyphicon-chevron-right {
  text-align: center;
  color: rgb(255, 136, 0);
}

.glyphicon.glyphicon-chevron-left {
  text-align: center;
  color: rgb(255, 136, 0);
}

#page-header-end {
  border-bottom-color: none;
  margin-top: 10px;
}

.caption {
  padding: 0px;
}

footer {
  width: 100%;
  height: 17px;
  border-top-style: solid;
  border-top-width: thick;
  border-top-color: rgb(255, 136, 0);
  padding: 15px 10px 35px 20px;
  background: #666666;
  color: #ffffff;
  text-align: center;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
}

.close {
  background: #3e3e3f;
  color: rgb(255, 136, 0);
  line-height: 25px;
  position: absolute;
  right: -13px;
  text-align: center;
  top: -10px;
  width: 24px;
  text-decoration: none;
  font-weight: bold;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
}

.close:hover {
  background: rgb(255, 136, 0);
}


/* Carousel */

.carousel-inner>.item>img,
.carousel-inner>.item>a>img {
  width: 40%;
  margin: auto;
}

.carousel-caption {
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  background: whitesmoke;
  border-radius: 20%;
  border: 1px solid gray;
  opacity: .8;
  height: 90px;
}

.active {
  background: none;
}

.left.carousel-control {
  color: rgb(255, 136, 0);
}

.right.carousel-control {
  color: rgb(255, 136, 0);
}